########################################
# PH803W2
########################################
PH803W_IP=192.168.178.163
PH803W_PORT=12416

########################################
# MQTT
########################################
MQTT_HOST=192.168.178.4
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=pool/ph803w2
MQTT_CLIENT_ID=ph803w2-mqtt-bridge

########################################
# SYSTEM
########################################
POLL_INTERVAL_SECONDS=60
LOG_LEVEL=info
SOCKET_TIMEOUT_MS=8000
RECONNECT_DELAY_MS=10000

########################################
# HOME ASSISTANT
########################################
HA_DISCOVERY=true
HA_DISCOVERY_PREFIX=homeassistant
HA_DEVICE_NAME=PH803W2 Controller
HA_DEVICE_ID=ph803w2_controller