# ==========================================
# PH803W2 MQTT BRIDGE CONFIG
# ==========================================

# Timezone
TZ=Europe/Berlin

# MQTT Broker
MQTT_HOST=192.168.178.100
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

# PH803W2 Device
PH803W2_HOST=192.168.178.163

# Optional
MQTT_CLIENT_ID=ph803w2-mqtt-bridge
MQTT_INTERVAL=900
